version: "3.9"

services:
  order-service:
    build:
      context: ./order-service
    container_name: order-service
    ports:
      - "8080:8080"
    depends_on:
      - payment-service

  payment-service:
    build: ./payment-service
    ports:
      - "8082:8082"
    environment:
      SPRING_PROFILES_ACTIVE: docker
    networks:
      - ecommerce-network

networks:
  ecommerce-network:
    driver: bridge
